*.pyc
*.o
*.so
thermotools.egg-info
ext/wham/wham.c
ext/mbar/mbar.c
ext/mbar_direct/mbar_direct.c
ext/tram/tram.c
ext/tram_direct/tram_direct.c
ext/dtram/dtram.c
ext/bar/bar.c
ext/util/util.c
build
dist
MANIFEST
.coverage
notebooks
clean.sh
docs/_build
